* {
    box-sizing: border-box;
}

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }
 body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
 }

 /* principal */


 /* columna */