* {
    box-sizing: border-box;
}

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }
 body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
 }

 /* principal */
.principal {
    display: flex;
    max-width: 768px;
    min-height: 320px;
}
.columna {
    color: #fff;
    padding: 2rem;
    width: 20%;
    overflow: hidden;
    transition: width .3s ease-in-out;
}
.columna.activa {
    width: 50%;
}

.columna:first-of-type {
    border-radius: 1rem 0 0 1rem;
}

.columna:last-of-type {
    border-radius: 0 1rem 1rem 0;
}

 /* columna */
 .personaje {
    background-color: hsl(31, 77%, 52%);
 }
 .simbolo {
    background-color: hsl(209, 84%, 32%);
 }
.ciudad {
    background-color: hsl(179, 95%, 15%);
}

.titulo {
    text-transform: uppercase;
}

.texto {
    font-size: 14px;
    margin-bottom: 4rem;
}

.enlace {
    text-decoration: none;
    background-color: #fff;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 12px;

}
.personaje .enlace {
    color: hsl(31, 77%, 52%);
    font-weight: bold;
}

.simbolo .enlace {
    color:hsl(209, 84%, 32%);
    font-weight: bold;
}
.ciudad .enlace {
    color:hsl(179, 95%, 15%);
    font-weight: bold;
}

